  <div class="content">
    <div class="page-header">
      <h1>AnimeTrip <small>Discovering Anime and Manga for your Tastes </small><button class="btn primary">Login with Twitter</button></h1>

    </div>
    <div class="row">
      <div class="span10 conmain">
        <h2>What's this about?</h2>
        <div class="span10">
          <div class="row">
            <div class="span4">
              <p><%=  image_tag("moe.png", :alt =>"You like Moe?") %></p>
            </div>
            <div class="span5">
              <p>
                If you have trouble finding new Anime and Manga welcome aboard. I had the exact same problem and used lot of different sites to find recommendations but it never really worked out. I used to have the same problem so I build AnimeTrip - A new way to find Anime and Manga you like... 
              </p>
            </div>
          </div>
        </div>
        <div class="span10">
          <h2>Here is a quick overview of features - </h2>
          <div class="row">
            <div class="box orange" data-content="Once you have added your tastes and to AT, you just got to press one button and poff you get manga - Too good to be true..." >
              <%= image_tag("click.png", :alt =>"Discover with a Click") %>
              <span>Discovering Anime and Manga with a button click </span>
            </div>
            <div class="box pink" data-content="You can maintain your lists while reading the manga with the help of the toolbar so you won't have to visit else where to update your manga list">
            <%= image_tag("list.png", :alt => "Keep a list") %>
              <span>Maintaining a list </span>
            </div>
            <div class="box purple" data-content="If you like to re-read certain series and rewatch episodes add them to the library and you can find it easily">
            <%= image_tag("library.png", :alt => "Keep Library")%>
              <span>Maintaining your own library</span>
            </div>
          </div>
          <div class="row">
            <button class="btn primary">Login with Twitter</button>
          </div>

          <div class="row">
            <p>
              and more to come. While you are using it mind to drop me a comment. And for all the Github folks the Repo is there to be forked so please help me improve AnimeTrip.
            </p>
          </div>
        </div>
      </div>
      <div class="span5 main">
        <h3>People talking about AnimeTrip</h3>
        <script src="http://widgets.twimg.com/j/2/widget.js"></script>
        <script>
        new TWTR.Widget({
          version: 2,
          type: 'search',
          search: 'AnimeTrip',
          interval: 30000,
          title: 'People Talking about AnimeTrip',
          subject: 'AnimeTrip',
          width: 280,
          height: 300,
          theme: {
            shell: {
              background: '#700a03',
              color: '#ffffff'
            },
            tweets: {
              background: '#feecea',
              color: '#444444',
              links: '#6b83e3'
            }
          },
          features: {
            scrollbar: false,
            loop: true,
            live: true,
            behavior: 'default'
          }
        }).render().start();
        </script>
      </div>
    </div>
  </div>

